<div class="button-quiz" [class.button-quiz--with-actions]="visibleActions.length > 0">
  <div class="button-quiz__main">
    <button
      type="button"
      class="button-quiz__primary"
      [disabled]="hasActions"
      (click)="onButtonClick()">
      <span class="button-quiz__content">
        <span class="button-quiz__icon" [ngClass]="iconBadgeClass">
          <img [src]="buttonQuiz.icon" alt="" aria-hidden="true" />
        </span>
        <span class="button-quiz__text">
          {{ buttonQuiz.title }}
        </span>
      </span>
    </button>
    <div class="button-quiz__actions">
      @if (visibleActions.length > 0) {
        @for (action of visibleActions; track action.key) {
          <button
            type="button"
            class="button-quiz__action-button"
            [attr.aria-label]="action.ariaLabel"
            (click)="onActionClick(action.key, $event)">
            <mat-icon class="button-quiz__action-icon">{{ action.icon }}</mat-icon>
          </button>
        }
      }
    </div>
  </div>
</div>
