@use 'scss/abstracts/responsive' as bp;
@use 'scss/base/buttons' as *;
@use 'scss/base/typography' as *;
:host {
  display: block;
  width: 100%;
}

.quiz-options-list {
  width: 100%;

  &__answers {
    display: grid;
    row-gap: var(--element-space-question-options-gap);
  }

  &__submit-container {
    display: flex;
    width: 100%;
  }

  &__submit-button {
   @extend .simple-button;
   margin-top: var(--element-space-question-submit-margin-top);
   width: 100%;
  }

  &__feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: var(--element-space-question-feedback-icon-gap);
    margin-top: var(--element-space-question-submit-feedback-gap);

    &--error {
      color: var(--red-500);
    }

    &--warning {
      color: var(--orange-400);
    }
  }

  &__feedback-icon {
    width: 2.4rem;
    height: 2.4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @include bp.media-breakpoint-up(sm) {
      width: 3rem;
      height: 3rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__feedback-text {
    @extend .quiz-text-xs;
    color: inherit;
    text-align: center;
  }
}
