@use 'scss/base/buttons' as *;
:host {
  display: block;
  width: 100%;
}

.quiz-options-list {
  width: 100%;

  &__answers {
    display: grid;
    row-gap: var(--element-space-question-options-gap);
  }

  &__submit-container {
    display: flex;
    width: 100%;
  }

  &__submit-button {
   @extend .simple-button;
   margin-top: var(--element-space-question-submit-margin-top);
   width: 100%;
  }
}
