<div class="quiz-options-list">
  <div class="quiz-options-list__answers">
    @for (answer of answers; track answer.title; let index = $index) {
      <qzy-button-option
        [buttonOption]="toButtonOption(answer, index)"
        [isSelected]="isSelected(answer)"
        [isCorrect]="isCorrect(answer)"
        [isIncorrect]="isIncorrect(answer)"
        [disabled]="isSubmitted"
        (buttonClick)="onAnswerClick(answer)"
      ></qzy-button-option>
    } @empty {
      <ng-container *ngTemplateOutlet="noAnswers"></ng-container>
    }
  </div>

  <div class="quiz-options-list__submit-container">
    @if (joinMode) {
      <button
        type="button"
        class="quiz-options-list__submit-button"
        (click)="onSubmitOrNext()"
      >
        @if (!isSubmitted) {
          {{ submitAnswerLabel | translate }}
        } @else {
          {{ 'joinQuizPage.waitForHost' | translate }}
        }
      </button>
    } @else {
      <button
        type="button"
        class="quiz-options-list__submit-button"
        (click)="onSubmitOrNext()"
      >
        {{
          (isSubmitted
            ? isLastQuestion
              ? getScoreLabel
              : nextQuestionLabel
            : submitAnswerLabel
          ) | translate
        }}
      </button>
    }
  </div>

  @if (feedbackType && feedbackMessageKey) {
    <div
      class="quiz-options-list__feedback"
      [class.quiz-options-list__feedback--error]="feedbackType === 'error'"
      [class.quiz-options-list__feedback--warning]="feedbackType === 'warning'"
      role="status"
      aria-live="polite"
    >
      <span class="quiz-options-list__feedback-icon" aria-hidden="true">
        <img src="assets/icons/icon-error.svg" alt="" />
      </span>
      <span class="quiz-options-list__feedback-text">{{ feedbackMessageKey | translate }}</span>
    </div>
  }
</div>

<ng-template #noAnswers>
  <div class="no-answers">
    {{ 'quizQuestions.noAnswers' | translate }}
  </div>
</ng-template>