@use 'scss/abstracts/responsive' as bp;
@use 'scss/abstracts/mixins' as mx;
@use 'scss/abstracts/variables' as *;
@use 'scss/base/typography' as *;

.quiz-score-card {
  height: 242px;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: stretch;
  padding: 2.4rem;
  border-radius: 2.4rem;
  background-color: var(--element-button-quiz);
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;

  @include bp.media-breakpoint-up(md) {
    height: 388px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;

    @include bp.media-breakpoint-up(sm) {
      gap: 24px;
    }
  }

  &__header-icon {
    width: 2.8rem;
    height: 2.8rem;
    object-fit: contain;

    @include bp.media-breakpoint-up(md) {
      width: 4rem;
      height: 4rem;
    }
  }

  &__header-icon-badge {
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--element-header-icon-badge-default);

    &--html {
      background-color: var(--element-header-icon-badge-html);
    }

    &--css {
      background-color: var(--element-header-icon-badge-css);
    }

    &--js {
      background-color: var(--element-header-icon-badge-js);
    }

    &--accessibility {
      background-color: var(--element-header-icon-badge-accessibility);
    }

    @include bp.media-breakpoint-up(md) {
      width: 5.6rem;
      height: 5.6rem;
    }
  }

  &__header-title {
    font-size: 1.125rem;
    font-weight: $fw-medium;
    line-height: 1;
    color: var(--element-main-text);

    @include bp.media-breakpoint-up(md) {
      font-size: 1.75rem;
    }
  }

  &__score-container {
    min-height: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }

  &__score-value {
    font-size: 5.5rem;
    font-weight: $fw-medium;
    line-height: 1;
    color: var(--element-main-text);
    text-align: center;

    @include bp.media-breakpoint-up(md) {
      font-size: 9rem;
    }
  }

  &__total {
    @extend %quiz-title-sm;
    color: var(--element-text-muted);
    text-align: center;

    // Tablet: Text Preset 5 Medium
    @include bp.media-breakpoint-up(md) {
      @include mx.font-text(9, $fw-medium, 1.5);
    }

    // Desktop: Text Preset 5 Regular
    @include bp.media-breakpoint-up(lg) {
      @include mx.font-text(9, $fw-normal, 1.5);
    }
  }
}
