<div class="button-option">
    <button
      type="button"
      class="button-option__main"
      [class.button-option__main--selected]="isSelected"
      [class.button-option__main--correct]="isCorrect"
      [class.button-option__main--incorrect]="isIncorrect"
      [disabled]="disabled"
      (click)="onButtonClick()">
      <div class="button-option__content">
        <span class="button-option__icon" aria-hidden="true">{{ buttonOption.label }}</span>
        <span class="button-option__text">
          {{ buttonOption.title }}
        </span>
      </div>
      @if (statusIconSrc) {
        <span class="button-option__status-icon" aria-hidden="true">
          <img [src]="statusIconSrc" alt="" />
        </span>
      }
    </button>
  </div>